*{
  margin: auto;
}

.cartaz{
  background-color: red;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  margin-top: 0px;
  z-index: 1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.titulo{
  width: 50%;
  margin-left: 10px;
}

#watch_now{
  position: relative;
  margin-top: 10%;
  margin-left: 5%;
}

.sinopse{
  color: white;
  width: 50%;
  font-family: monospace;
  margin-left: 30px;
  font-size: 10pt;
}

.elenco{
  background-color: blue;
  height: 250px;
  position: relative;
  margin-top: 100vh;
  z-index: 2;
}

.imagens{
  width: 100%;
  height: 400px;
  background-color: yellow;
  position: relative;
  z-index: 3;
}

.trailer{
  background-color: green;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}
